x-namada: &namada-common
  restart: unless-stopped
  build:
    dockerfile: docker/Dockerfile
    context: .
    args:
      - NAMADA_TAG=${NAMADA_TAG:-v0.39.0}
      - BUILD_WASM=true
  image: arashidos/namada:${NAMADA_TAG:-v0.39.0}
  entrypoint: ["sh", "/docker-entrypoint-scripts.d/start-node.sh"]
  networks:
    namada:
services:
  namada-1:
    <<: *namada-common
    hostname: namada-1
    profiles:
      - main
    volumes:
      - ./config/genesis:/genesis:ro
      - ./config/make_balances.py:/scripts/make_balances.py
      - ./config/update_params.py:/scripts/update_params.py
      - ./masp-params:/root/.masp-params
      - ./config/start-node.sh:/docker-entrypoint-scripts.d/start-node.sh
      - namada-shared:/root/.namada-shared
      - namada-1_data:/root/.local/share/namada
    environment:
      - GENESIS_DELAY=${GENESIS_DELAY}
      - EXTERNAL_IP=${EXTERNAL_IP}
    ports:
      - "${P2P_PORT}:26656" # p2p
      - "${RPC_PORT}:26657" # http rpc
      - "${SERVE_PORT}:8123" # configs server

  namada-2:
    <<: *namada-common
    hostname: namada-2
    profiles:
      - main
    volumes:
      - ./masp-params:/root/.masp-params
      - ./config/start-node.sh:/docker-entrypoint-scripts.d/start-node.sh
      - namada-shared:/root/.namada-shared
      - namada-2_data:/root/.local/share/namada
    ports:
      - "26656" # p2p
      - "26657" # http rpc

  namada-3:
    <<: *namada-common
    profiles:
      - main
    hostname: namada-3
    volumes:
      - ./masp-params:/root/.masp-params
      - ./config/start-node.sh:/docker-entrypoint-scripts.d/start-node.sh
      - namada-shared:/root/.namada-shared
      - namada-3_data:/root/.local/share/namada
    ports:
      - "26656" # p2p
      - "26657" # http rpc

  namada-chain-b:
    <<: *namada-common
    hostname: chain-b
    profiles:
      - hermes
    environment:
      - GENESIS_DELAY=${GENESIS_DELAY}
      - EXTERNAL_IP=${EXTERNAL_IP}
    volumes:
      - ./config/genesis-chain-b:/genesis:ro
      - ./config/make_balances.py:/scripts/make_balances.py
      - ./masp-params:/root/.masp-params
      - ./config/start-chain-b.sh:/docker-entrypoint-scripts.d/start-node.sh
      - namada-shared:/root/.namada-shared
      - namada-chain-b_data:/root/.local/share/namada

  hermes:
    image: arashidos/hermes:${HERMES_TAG:-v1.8.2-namada-beta10}
    build:
      dockerfile: docker/hermes.Dockerfile
      context: .
      args:
        - HERMES_TAG=${HERMES_TAG:-v1.8.2-namada-beta10}
    hostname: hermes
    profiles:
      - hermes
    entrypoint: ["sh", "/docker-entrypoint-scripts.d/start.sh"]
    networks:
      namada:
    volumes:
      - ./config/hermes/config-template.toml:/root/config-template.toml
      - ./config/hermes/start.sh:/docker-entrypoint-scripts.d/start.sh
      - ./masp-params:/root/.masp-params
      - namada-shared:/root/.namada-shared
      - hermes:/root/.hermes

volumes:
  namada-1_data:
  namada-2_data:
  namada-3_data:
  namada-chain-b_data:
  namada-shared:
  hermes:

networks:
  namada: